<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
    <style>
    	.def{
			color:black;
			padding: 10px;
			text-align: left;
			font-size: 90;
			font-family: verdana;
			margin:20px;
			background-color: white;
		}
		img{
			margin:20px;

		}
		.aligncenter{
    		text-align: center;
		}
		pre{
			border: 5px;
			border-color: black;
			border-style: ridge;
			font-size: 20px;
		}
		h1{
			text-align: center;
			color:white;
			padding: 10px;
			font-size: 90;
			font-family: verdana;
			margin:20px;
		}
	</style>
</head>
<body style="background-color: firebrick;">
    <h1></h1>
	<h1>CURRICULUM VITAE</h1>
	<h1></h1>
	<h1></h1>
	<p class="aligncenter">
		<img src="https://scontent.fcgk8-2.fna.fbcdn.net/v/t1.0-9/40940582_10216344094103942_7951054495868256256_n.jpg?_nc_cat=0&_nc_eui2=AeGG-JQs-PJpV0f3qe6IXkU1wwEz-e6gLTavOAK7lA46yLZ7ljnYbbuFW6KsQMnhofD1kqTcEPl9vQGTwU4frKZsGaoUyhjy4fsCMHXfX1P8Rg&oh=69d2e41c0c594d582f192c9726d76823&oe=5BF01EEB" alt="foto ady" width="15%" border="9">
	</p>
	<pre class="def">Nama			: {{ name }}</pre>
	<pre class="def">Npm				: {{ npm }}</pre>
	<pre class="def">Umur			:{{ age }}</pre>
	<pre class="def">Tempat Kuliah		: Universitas Indonesia</pre>
	<pre class="def">Hobi				: Belajar</pre>
	<pre class="def">Deskripsi Diri		: Pemuda biasa yang mempunyai mimpi yang luar biasa</pre>
    
</body>
</html>
